@font-face {
    font-family: 'Univers Next Pro';
    src: url('https://rfintwarrencat-sudo.github.io/univers-next-pro-black-condensed.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}